.fav-header{
    background: rgb(63, 63, 63);
    width: 100%;
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.fav-empty{
    width: 50%;
    margin: 8rem auto;
    padding: 60px;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 8px;
    background: rgba(105, 105, 105,0.5);
}