.movie-header {
    width: 100%;
    background: rgb(63, 63, 63);
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.movie-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.drop-down .dropdown-toggle {
    font-size: 2rem;
}
.drop-down button{
    margin: 1rem 0;
}

.movie-card {
    background: rgba(21, 21, 21, 0.633);
    overflow: hidden;
    border: 2px solid #333;
    padding: 1.5rem;
    border-radius: 8px;
    color: #fff;
}

.movie-img {
    position: relative;
    width: 100%;
    /* margin: auto; */
    display: block;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.movie-card img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
    border-radius: 8px;
}
.movie-details{
    padding-top: 2rem;
}

.heart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.heart.active {
    color: red;
}

.movie-card:hover img {
    transform: scale(1.1);
    background: #333;
    opacity: 0.3;
    transition: 0.3 ease;
}

.movie-card:hover .heart {
    opacity: 1;
}

@media screen and (max-width:640px) {
    .movie-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}