.tv-header {
    width: 100%;
    background: rgb(63, 63, 63);
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.tv-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.tv-header h1 {
    margin: 2rem 0;
}
.load-more {
  text-align: center;
  margin: 2rem 0;
}

.load-more button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ff4444;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.load-more button:hover {
  background-color: #cc0000;
}
@media screen and (max-width:640px) {
    .tv-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}